<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<aside class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p><strong>{{ site.title }}</strong></p>
  </div>

  <nav class="sidebar-nav">
    {% include sidebar-item.html title="Home" url="/" %}
    {% include sidebar-item.html title="Blog" url="/blog/" %}
    {% include sidebar-item.html title="GitHub" url="https://github.com/sunjay/" %}
    {% include sidebar-item.html title="Resume" url="/resume" %}
    {% include sidebar-item.html title="Contact" url="/contact" %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</aside>
